@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.background {
  background-image: linear-gradient(
    to top left,
    #797b7c,
    #353434,
    #1e1e1e,
    #000000
  );
  background-attachment: fixed;
}

input {
  font-family: "Oswald", sans-serif;
  width: 400px;
  height: 30px;
  background-color: #cfd8dc;
  padding-left: 15px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 10px black;
}

input:focus {
  outline: none !important;
  border-color: black;
}

.search-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

img {
  display: block;
  width: 265px;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 3px 3px 15px #ede13f;
}

.all-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card {
  background-color: #191919;
  box-shadow: 8px 8px 15px black;
  font-family: "Oswald", sans-serif;
  margin: 20px;
  width: 310px;
}

.movie-title {
  height: 65px;
  display: flex;
  align-items: center;
  // -webkit-text-stroke: 1px black;
  letter-spacing: 1px;
  color: white;
}

button {
  font-family: "Oswald", sans-serif;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-button {
  font-size: 14px;
  border: 0.5px solid #37474f;
  background-color: #af34bd;
}

.directed-by {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.director-button {
  font-size: 11px;
  float: right;
  text-decoration: underline;
  color: #ede13f;
}

.genre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.genre-button {
  font-size: 11px;
  float: right;
  text-decoration: underline;
  color: #ede13f;
}

.favorite {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.favorite-button {
  transform: scale(1.65);
  filter: blur(0.7px);
  color: #af34bd;
}

.favorite-button:hover {
  box-shadow: 1px 1px 1px #ede13f;
  background-color: rgba(38, 50, 56, 0.3);
}
