<!--
  This component shows more information about the movie's director including name, bio, birth year, and death year (if applicable).
-->
<div class="director-dialog">
  <div class="close-icon-container">
    <button mat-icon-button class="close-icon" color="basic" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1>{{data.Name}}</h1>
  <img 
    src={{data.Headshot}} 
    alt={{data.Name}}
    width="265px"
  />
  <p>{{data.Bio}}</p>
  <p>Born: {{data.Birth}}</p>
  <p>Died: {{data.Death}}</p>
</div>