::ng-deep.mat-dialog-container {
  background-color: #b0bec5;
  border: 1px solid black;
}

.director-dialog {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  // -webkit-text-stroke: 1px black;
  text-decoration: underline;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 300px;
  max-height: 500px;
  // box-shadow: 3px 3px 15px #ede13f;
}

.close-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: -25px;
  margin-bottom: -20px;
}

.close-icon {
  width: 0;
}
